/* OVERALL PAGE FORMAT */
body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
    max-width: 960px;
    padding: 0 20px;
    margin: auto;
    align-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

header,
.body-central,
.main-image,
.feature-work,
.feature-header,
.project-preview,
.project-image,
.project-text,
footer {
    width: 100%;
}

.header-logo {
    width: 25%;
}

.header-text {
    width: 75%;
}


/* COMMON STYLES */
.cover {
    object-fit: cover;
    object-position: 10% 10%;
}

.text-muted {
    color: #a4aab2;
}


/* HEADER - INITIAL FORMAT */
header {
    border-bottom: 2.5px solid #7d97ad;
    margin-top: 0.5em;
}

.header-logo {
    margin-top: 0.9em;
    margin-bottom: 0.5em;
}

.logo-image {
    height: 45px;
    border-radius: 55px;
    margin-left: 0.5em;
}

/*
.icon-logo {
    font-size: 70px;
    color: #19094c;
    padding: 5px 15px;
    border-radius: 45px;
    background-image:
        radial-gradient(
            circle,
            yellow 20%,
            #9097f9,
            #eaf0f9 60%
        );
}
*/

.header-text {
    text-align: right;
    text-transform: uppercase;
}

.header-super {
    font-size: 1.65em;
    font-weight: 100;
    margin-top: 0.3em;
    margin-bottom: 0;
}

.header-sub {
    font-size: 0.8em;
    margin-top: 0.3em;
    margin-bottom: 0;
}


/* BODY CENTRAL - INITIAL FORMAT */
.body-central {
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    max-height: 450px;
}

.main-image {
    height: 250px;
}


/* FEATURE WORK - INITIAL FORMAT */
.feature-work {
    margin-bottom: 20px;
}

.feature-header {
    font-size: 1.4em;
    margin-top: 0.6em;
    margin-bottom: 0.1em;
}

.project-preview {
    margin-top: 10px;
    margin-bottom: 18px;
    text-align: center;
}

.project-preview:last-of-type {
    margin-bottom: 5px;
}

.project-image {
    height: 200px;
}

.project-title {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0.7em;
    margin-bottom: 0;
}

.project-description {
    padding: 0 20px;
    margin: 0.5em 0;
    text-align: justify; 
}


/* FOOTER - INITIAL FORMAT */
footer {
    background-color: lavender;
    padding: 20px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

[class*="fontawesome-"]:before {
    font-family: "FontAwesome", sans-serif;
    display: inline-block;
}

.icon-footer {
    font-size: 1.5em;
    color: #2d3c49;
    text-shadow: 1.5px 1.5px 1.5px rgba(150, 150, 150, 1);
    margin: 0 20px;
}


/*  ****** MEDIA QUERIES ******  */

/*  *** MINOR BREAK-POINT ***  */
@media screen and (min-width: 400px) {
    
    /* HEADER - MODIFIED FORMAT */
    header {
        border-bottom: 3px solid #7d97ad;
    }
    
    .logo-image {
        transition: height 0.5s;
        height: 60px;
    }
    
    .header-super {
        transition: font-size 0.5s;
        font-size: 2.0em;
    }

    .header-sub {
        transition: font-size 0.5s;
        font-size: 0.9em;
    }

    /* BODY CENTRAL - MODIFIED FORMAT */
    .body-central {
        margin-top: 1.5em;
    }

    /* FEATURE WORK - MODIFIED FORMAT */
    .feature-header {
        transition: font-size 0.5s;
        font-size: 1.45em;
    }

    .project-preview {
        margin-bottom: 20px;
    }

}


/*  *** MAJOR BREAK-POINT ***  */
@media screen and (min-width: 500px) {
    
    /* HEADER - MODIFIED FORMAT */
    header {
        border-bottom: 3.4px solid #7d97ad;
    }
    
    .logo-image {
        transition: height 0.5s;
        height: 70px;
    }
    
    .header-super {
        transition: font-size 0.5s;
        font-size: 2.5em;
    }

    .header-sub {
        transition: font-size 0.5s;
        font-size: 1.0em;
        margin-top: 0.2em;
    }

    /* BODY CENTRAL - MODIFIED FORMAT */
    .main-image {
        transition: heigth 0.75s;
        height: 300px;
    }

    /* FEATURE WORK - MODIFIED FORMAT */
    .feature-header {
        transition: font-size 0.5s;
        font-size: 1.55em;
    }

    .project-image {
        margin-right: 15px;
    }

    .project-image,
    .project-text {
        transition: width 0.5s;
        width: calc((100% - 15px)/2);
    }

    .project-text {
        background-color: #e9e8ef;
    }

    .project-title {
        transition: font-size 0.5s;
        font-size: 1.35em;
        margin-top: 1.2em;
    }

    .project-description {
        text-align: center;
        margin-top: 0.9em;
        font-size: 1.05em;
    }

    /* FOOTER - MODIFIED FORMAT */
    footer {
        margin-top: 40px;
        margin-bottom: 30px;
    }

}


/*  *** MINOR BREAK-POINT ***  */
@media screen and (min-width: 640px) {
    
    /* HEADER - MODIFIED FORMAT */
    header {
        border-bottom: 4px solid #7d97ad;
    }
    
    .logo-image {
        transition: height 0.5s;
        height: 80px;
    }
    
    .header-super {
        transition: font-size 0.5s;
        font-size: 3em;
    }

    .header-sub {
        transition: font-size 0.5s;
        font-size: initial;
        margin-top: 0.05em;
    }

    /* BODY CENTRAL - MODIFIED FORMAT */
    .body-central {
        transition: margin-top 0.5s;
        margin-top: 2em;
    }

    .main-image {
        transition: heigth 0.75s;
        height: 350px;
    }

    /* FEATURE WORK - MODIFIED FORMAT */
    .feature-header {
        transition: font-size 0.5s;
        font-size: 1.75em;
    }

    .project-title {
        transition: font-size 0.5s;
        font-size: 1.5em;
        margin-top: 1.5em;
    }

    .project-description {
        margin-top: 1em;
        font-size: 1.1em;
    }

}


/*  *** MAJOR BREAK-POINT ***  */
@media screen and (min-width: 850px) {
    
    /* HEADER - MODIFIED FORMAT */
    .logo-image {
        transition: height 0.5s;
        height: 100px;
    }

    .header-super {
        transition: font-size 0.5s;
        font-size: 3.5em;
    }

    .header-sub {
        margin-top: 0.15em;
    }

    /* BODY CENTRAL - MODIFIED FORMAT */
    .main-image {
        transition: heigth 0.5s;
        height: 450px;
    }

    /* FEATURE WORK - MODIFIED FORMAT */
    .feature-header {
        transition: font-size 0.5s;
        font-size: 2em;
        margin-bottom: 0.05em;
    }

    .project-preview {
        transition: width 0.75s;
        width: calc((100% - 40px)/3);
        margin-right: 20px;
        margin-bottom: 0;
    }

    .project-preview:last-of-type {
        margin-right: 0;
    }

    .project-image {
        margin-right: 0;
    }

    .project-image,
    .project-text {
        width: 100%;
    }

    .project-text {
        background-color: inherit;
    }

    .project-title {
        margin-top: 0.65em;
    }

    .project-description {
        text-align: justify;
        margin-top: 0.75em;
        padding: 0 25px;
    }

    /* FOOTER - MODIFIED FORMAT */
    footer {
        margin-top: 35px;
    }

}