/* OVERALL PAGE FORMAT */

body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto; /* check that this is correct */
    align-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

img.cover {
    width: 100%;
    object-fit: cover;
    object-position: 10% 10%;
}

.text-thin {
    font-weight: 100;
}

.text-muted {
    color: #a4aab2;
}

.text-upper {
    text-transform: uppercase;
}


/* HEADER FORMAT */

header {
    border-bottom: 4px solid #7d97ad;
}

.header-logo {
    width: 35%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.icon-logo {
    font-size: 70px;
    color: #19094c;
    padding: 5px 15px;
    border-radius: 45px;
    background-image:
        radial-gradient(
            circle,
            yellow 20%,
            #9097f9,
            #eaf0f9 60%
        );
}

.header-text {
    width: 65%;
    text-align: right;
    text-transform: uppercase;
}

.text-super {
    font-size: 3.5em;
}

.title-margin {
    margin-top: 0.3em;
    margin-bottom: 0;
}


/* FEATURE IMAGE FORMAT */

.main-image {
    margin-top: 2em;
    margin-bottom: 0.5em;
    max-width: 960px;
    max-height: 450px;
}


/* FEATURED WORK FORMAT */

.feature-work {
    margin-bottom: 20px;
}

.feature-header {
    width: 100%;
    font-size: 2em;
}

.project-preview {
    width: calc((100% - 30px)/3);
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
}

.project-preview:last-of-type { margin-right: 0; }

.text-large {
    font-size: 1.5em;
}

.text-margin {
    margin-top: 0.5em;
    margin-bottom: 0;
}


/* FOOTER FORMAT */

footer {
    background-color: lavender;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    display: inline-block;
}

.icon-footer {
    font-size: 1.5em;
    color: #2d3c49;
    text-shadow: 1.5px 1.5px 1.5px rgba(150, 150, 150, 1);
    margin-right: 20px;
    margin-left: 20px;
}
