/* OVERALL PAGE FORMAT */

body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
    max-width: 960px;
    margin: auto; /* check that this is correct */
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.text-thin {
    font-weight: 100;
}

.text-muted {
    color: #a4aab2;
}

.text-upper {
    text-transform: uppercase;
}


/* HEADER FORMAT */

header {
    border-bottom: 4px solid #7d97ad;
}

.header-logo {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.header-text {
    width: 50%;
    text-align: right;
    text-transform: uppercase;
}

.text-super {
    font-size: 3.5em;
}

.title-margin {
    margin-top: 0.3em;
    margin-bottom: 0;
}


/* FEATURE IMAGE FORMAT */

.main-image {
    margin-top: 2em;
    margin-bottom: 0.5em;
}


/* FEATURED WORK FORMAT */

.feature-work {
    margin-bottom: 20px;
}

.feature-header {
    width: 100%;
    font-size: 2em;
}

.project-preview {
    width: calc((100% - 30px)/3);
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
}

.project-preview:last-of-type { margin-right: 0; }

.text-large {
    font-size: 1.5em;
}

.text-margin {
    margin-top: 0.5em;
    margin-bottom: 0;
}


/* FOOTER FORMAT */

footer {
    background-color: lavender;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;
}
